export PROXY_HOST=127.0.0.1
export PROXY_PORT=9050
export PROXY_CONTROL_PASSWORD=password
export PROXY_CONTROL_PORT=9051
export PROXY_PING_URL=https://api.ipify.org?format=json

export MONGO_HOST=211.45.0.5
export MONGO_PORT=27017
export MONGO_USER=user
export MONGO_PASS=pass
export MONGO_DB=bot_db
export MONGO_URLS_COLLECTION=urls
export MONGO_VACANCY_COLLECTION=vacancies

export SOURCE_ALFA_SITEMAP_URL=
export SOURCE_BETA_SITEMAP_URL=
export SOURCE_GAMMA_SITEMAP_URL=
export SOURCE_BATCH_SIZE=5

export AUTH_SERVER_ADDRESS=
export ENV=

export PRODUCTION_HOST_IP=1.2.3.4